*
!.gitignore
!nvim/
!nvim/**
!starship
!starship/**
!neofetch
!neofetch/**
!ghostty
!ghostty/**
!waybar
!waybar/**
!kitty
!kitty/**
!hypr
!hypr/**
!swaync
!swaync/**
!tmux
!tmux/tmux.conf
!powershell
!powershell/**
!wofi
!wofi/**
!bash
!bash/**
