@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: @blue;
  padding: 0px;
}

window#waybar {
  background-color: transperent;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0px;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 13px;
}

#language:hover {
    background-color: @surface2;
}

#custom-exit {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 13px;
}

#custom-exit:hover {
    background-color: @surface2;
}

#clock {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
}

#clock:hover {
    background-color: @surface2;
}

#battery {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
}

#battery:hover {
    background-color: @surface2;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
}

#network:hover {
    background-color: @surface2;
}

#pulseaudio{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
}

#pulseaudio:hover {
    background-color: @surface2;
}

#pulseaudio.muted {
  color: @text;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @rosewater;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @rosewater;
  color: @base;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @base;
  border-radius: 15px;
}

.modules-left {
  padding: 0 20px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}
