/*
:root {
    --background: rgba(1a1b26bf); rgba(26, 27, 38, 0.75)
    --border-inactive: rgba(595959aa); rgba(89, 89, 89, 0.67)
    --font: rgba(c0caf5ff); rgba(192, 202, 245, 1)
    --red: rgba(#e95678ff);
    --green: rgba(00ff99ee); rgba(0, 255, 153, 1)
    --border-radius: 13px;
    --hover: rgba(0, 0, 0, 0.5);
}
*/

@define-color background rgba(26, 27, 38, 0.75);
@define-color border-inactive rgba(89, 89, 89, 0.67);
@define-color font rgba(192, 202, 245, 1);
@define-color red rgba(233, 86, 120, 1);
@define-color green rgba(0, 255, 153, 1);
@define-color hover rgba(0, 0, 0, 0.5);

* {
    font-size: 18px;
    color: @font;
    font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
}

window {
    background: @background;
    border-radius: 13px;
}

window#waybar>box {
    background-color: transparent;
    border: 2px solid @border-inactive;
    border-radius: 13px;
    padding: 2px;
}

/* modules-left */
#workspaces button {
    all: unset;
    padding: 0px 12px;
    margin: 0px 1px;
    border-radius: 10px;

    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background-color: @hover;
    padding: 0px 12px;
}

#workspaces button.active {
    background-color: @border-inactive;
    color: @font;
    padding: 0px 16px;

    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#language,
#window,
#custom-notification,
#pulseaudio,
#bluetooth,
#network,
#battery,
#clock {
    padding: 0px 10px;
    margin: 1px 2px;
    border-radius: 13px;
    border: none;
}

#language:hover,
#window:hover,
#custom-notification:hover,
#pulseaudio:hover,
#pulseaudio.muted:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#battery.charging:hover,
#battery.plugged:hover,
#clock:hover,
#custom-exit:hover {
    background-color: @hover;
}

#pulseaudio.muted {
    color: @red;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-exit {
    padding: 0px 10px;
    margin: 1px 0px 1px 2px;
    border-radius: 13px;
}
/* end moudles-right */
